body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
	background: black;
}


.hidden {
	display: none;
}

#fps {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: green;
	background-color: #000a;
	font-family: 'Courier New', Courier, monospace;
}



